.textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
    width: 3em;
    background: #fff none;
    padding: .2em .5em !important;
}

/*
     FILE ARCHIVED ON 12:57:20 Jul 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:37:13 Nov 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 70.922
  exclusion.robots: 0.156
  exclusion.robots.policy: 0.14
  cdx.remote: 0.097
  esindex: 0.013
  LoadShardBlock: 38.556 (3)
  PetaboxLoader3.datanode: 56.678 (4)
  load_resource: 90.485
  PetaboxLoader3.resolve: 44.584
*/